@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}



main { 
  display: block;
}

small {
  font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

ul {
  list-style-type: none;
  display: inline-block;
  text-align:left;
}

h1-6 { 
  font-family: 'Barlow', sans-serif;
}

p, li {
  font-family: 'Roboto', sans-serif;
  
}

h1, h2, p {
color: #413839;
}

body {
  color: #fff; 
}

.dashboard {
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-columns: repeat(4, minmax(200px, auto));
    grid-auto-flow: rows;
    grid-template-areas:
      "sd hd hd hd"
      "sd proj proj anno"
      "sd proj proj anno"
      "sd proj proj anno"
      "sd proj proj anno";
}

header {
    grid-area: hd;
      
}

.menu-container {
  width: 100%;
  padding: 20px 35px;
  background-color: #0b5394; 
  display: grid;
  grid-template-columns: repeat(2 minmax(500px auto));
  grid-template-areas: 
                       "searchbar usermenu"
                       "greet menu-btn";
}


form {
  border: 1px solid green;
  grid-area: searchbar;
}

.searcharea {
  width: 450px;
  height: 30px;
}

.searchbar {
  background-color: #4654e1;
  width: inherit;
  align-self: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-area: search;
  border-radius: 8px;
  
}

.searchbar > input {
  background-color: #4654e1;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  width: inherit;
}

input::placeholder {
  background-color: #4654e1;
  color: #fff;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: inherit;
  
}

input::placeholder:hover {
 border: 2px solid #fff;
}

.searchbar button {
  background-color: inherit;
  border: none;
  width: 30px;
  height: inherit;
  justify-self: flex-end;
  border-radius: 8px;
  cursor: pointer; 
  
}

.seachbard button i {
  filter: invert(-1);
}


.avatar {
  height: 60px;
  
}

.greet {
  display: grid;
  gap: 10px;
  grid-area: greet;
  justify-self: start;
  align-content: center;
  align-self: center;
  grid-auto-flow: column;
}

.greet p:nth-child(1) {
  letter-spacing: 1.02px;
  color: #fff;
}

.greet p:nth-child(2),
.usermenu p{
  padding-top: 2px;
  font-weight: 600;
  font-size: 18px;
  color: lightgreen;
}

.usermenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: baseline;
  align-items: center;
  gap: 5px;
  width: 200px;
  grid-area: usermenu;
  justify-self: end;
  margin-right: 48px;
}



.bell {
  width: 50px;
  margin-right: -12px;
  align-self: start;
  filter: invert(1);
}

.logo-text {
align-self: center;
}

.menu-btns {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  justify-content: center;
  grid-auto-flow: row dense;
  grid-area: menu-btn;
  gap: 25px;
  justify-self: end;
  align-self: end;
  padding-top: 12px;
}

.menu-btns > li {
  width: 100px;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
  padding: 6px;
  background-color: #3cb371;
  text-align: center;
  justify-self: center;
  border-radius: 8px;
}


nav .left {
  padding: 10px;
}

/*
///////////////////////
////////////////////// ASIDE
//////////////////////
*/

aside { 
    padding: 35px;
    grid-area: sd;
    background-color: #cc0000;
}

aside h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.01px;
  margin-bottom: 30px;
  align-self: start;
}

aside > div {
  display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  justify-content: center;
  gap: 0px 10px;
}

aside > ul > li {
  width: 100%;
  padding-left: 20%;
  display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  justify-content: start;
  gap: 0px 12px;
}

li img {
width: 18px;
filter: invert(1);
}

aside > div > img {
  filter: invert(1);
}

.side-menu {
  display: grid;
  justify-items: start;
  grid-gap: 20px;
  grid-template-columns: minmax(150px, 1fr);
  margin-top: 20px;
}

.side-menu li {
text-align: center;
padding: center;
}


.side-menu li:nth-child(7) {
  margin-top: 100px;
}
/*
///////////////////////
////////////////////// MAIN
//////////////////////
*/

main h1, .announcements h1 {
  font: 500 28px/35px "barlow", sans-serif;
  letter-spacing: 1.03px;
  padding: 30px;
}

main h1 {
  grid-column: span 2; 
  justify-self: start;
}

main {
  height: 100%;
  grid-area: proj;
  background-color: #eeeeee;
  padding: 12px 35px;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(420px, 1fr));
  justify-items: start;
  align-items: space-around;
  grid-auto-flow: rows;
}

.project-card {
  padding: 16px 28px;
  font: 400 12px/17px "barlow", sans-serif; 
  heigh: 220px;
  width: 350px;
  margin-bottom: 35px;
  display: grid;
  align-items: center;
  background-color: #fff;
  color: #222;
  border-left: 5px solid #ffd700;
  border-radius: 8px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
}


.project-card p {
  margin-block: 12px;
}

.card-icons {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  justify-self: end;
}

.card-icons i:nth-child(2) {
  margin: 0 5px 0 3px;
}

/*
///////////////////////
////////////////////// ANNOUNCEMENTS
//////////////////////
*/



.announcements {
  grid-area: anno;
  background-color: #eeeeee;
  padding: 12px 35px;
}

.top-chart {
  width: 320px;
  color: #222;
  display: grid;
  grid-template-rows: repeat(3, minmax(100px 1fr));
  grid-auto-flow: rows;
  align-items: stretch;
  row-gap: 25px;
  background-color: #fff;
  border-radius: 8px;
  border-left: 5px solid #3cb371;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
  padding: 35px;
}

.top-chart div > h2 {
  font: 500 20px/35px "barlow", sans-serif;
}

.top-chart div > P {
  font: 400 16px/20px "roboto", sans-serif;
  letter-spacing: 1.1px
}

.top-chart div > hr {
  width: 100px;
  height: 1px;
  opacity: 0.3;
  color: #808080;
}

/*
///////////////////////
////////////////////// TRENDING
//////////////////////
*/

.trending {
  display: grid;
  grid-template-rows: repeat(4 minmax(100px 1fr));
  grid-row-gap: 10px;
  width: 320px;
  background-color: #fff;
  border-radius: 8px;
  border-left: 5px solid #b300b3;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
  padding: 35px;
  margin-bottom: 20px;
}

.user span {
  color: #222;
}

.user {
  display: grid;
  grid-template-columns: repeat(2 minmax(100px 1fr));
  grid-column-gap: 8px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.user div p {
  padding-top: 3px;
}

.user div span {
  color: #4C516D;
  font: 600 16px/20px "barlow", sans-serif;
  letter-spacing: 1.02px;
}